.more-button {
  width: 240px;
  margin: 16px;
  padding: 12px 16px;
  line-height: 1.25rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px grey;
  font-family: Roboto;
  font-size: 14px;
  background-color: aquamarine;
  box-sizing: content-box;
}
