.joke {
  width: 240px;
  margin: 16px;
  padding: 12px 16px;
  line-height: 1.25rem;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px grey;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
  background-color: burlywood;
}
